/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: hsl(0, 0%, 100%);
    --light-pink: hsl(275, 100%, 97%);
    --grayish-purple: hsl(292, 16%, 49%);
    --dark-purple: hsl(292, 42%, 14%);
}

html,
body {
    height: 100%;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    background-color: var(--light-pink);
}

img {
    max-width: 100%;
    display: block;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background: none;
    border: none;
}

input,
textarea {
    font-family: inherit;
}

/* General Styling */
.wrapper {
    background-image: url(assets/images/background-pattern-mobile.svg);
    background-size: cover;
    height: 230px;
    width: 100%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Card Styling */
.faq-answer {
    display: none;
}

article {
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    width: 90%;
    max-width: 375px;
    margin-top: 9rem;
}

/* Card Header */
header {
    display: flex;
    align-items: center;
}

.header-logo {
    width: 25px;
    height: 25px;
    margin-right: 1rem;
}

header h1 {
    font-size: 2rem;
    color: var(--dark-purple);
    font-weight: 700;
    letter-spacing: 1px;
}

/* Card Body */

.faq-header {
    display: flex;
    justify-content: space-between;
    padding: .25rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.faq-header button,
.faq-header img,
.faq-item {
    cursor: pointer;
}

/* removes the bottom border from the last faq header in the list */
.border-bottom-none {
    border-bottom: none;
}

.faq-question {
    text-align: left;
    padding: 1.5rem 0;
    color: var(--dark-purple);
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    font-weight: 650;
    width: 75%;
}

/* need to fix so img hover makes text color change as well */
.faq-question:active {
    color: #b96edf;
}

p {
    color: var(--grayish-purple);
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 1rem;
}

/* Javascript class */
.active {
    display: block;
}

/* Media Queries */
@media screen and (min-width: 768px) {

    /* General Styling */
    .wrapper {
        background-image: url(assets/images/background-pattern-desktop.svg);
        height: 325px;

    }

    /* Card Styling */
    article {
        padding: 2rem 2rem 1rem;
        max-width: 525px;
        margin-top: 11rem
    }

    /* Card Header */
    header {
        margin: .5em 0;
    }

    .header-logo {
        width: 35px;
        height: 35px;
    }

    header h1 {
        font-size: 3.5rem;
    }

    /* Card Body */
    button {
        width: 90%;
        font-size: 1.02rem;
    }
}